body{
  background-color: #f6f5f5;
  margin: 0px;
  padding: 0px;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
section{
  width: 100%;
  height: 100vh;
  background-image: url(yosemite.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
  padding:0px 5%;
}
nav ul{
  display: flex;
}
nav ul li a{
  margin: 30px;
  font-family: myriad pro regular;
  color: #505050;
  font-size: 15px;
  font-weight: 700;
}
.logo{
  font-family: RoadTest;
  color:#000000;
  font-size: 22px;

}
.active{
  font-weight: bold;
  color: #2d2a2a;
}
.text-container
  p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #6d6d6d;
    font-size: 22px;
}
.text-container
    p:nth-child(2){
      font-family: calibri;
      font-weight: bold;
      letter-spacing: 1px;
      color: #1a1a1a;
      font-size: 60px;      
    }
.text-container
    p:nth-child(3){
      font-family: myriad pro regular;
      color: #403e3e;
      font-size: 30px;
      line-height: 30px;
    }
.text-container p{
  line-height: 0px;
  margin: 45px 0px 25px;
}
.text-container{
  position: absolute;
  left: 13%;
  top: 42%;
  transform: translate(-13%,-42%);
}
.about-container{
  width: 80%;
  height: 330px;
  background-color: #FFFFFF;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
  display: flex;
  margin: -7% auto 20px auto;
  position: relative;
  justify-content: space-around;
  align-items: center;
  background-image: url(red.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.about-text{
    width: 550px;
    text-align: center;
}
.about-text p:nth-child(1){
  color: #403e3e;
  font-family: myriad pro;
  font-weight: bold;
  font-size: 23px;
  line-height: 0px;
}
.about-text p:nth-child(2){
  color: #3e3d3d;
  font-size: 13px;
  font-family: myriad pro;
  font-weight: bold;
  line-height: 5px;
}
.about-text p:nth-child(3)
.about-text p:nth-child(4){
  color: #7e7d7d;
  font-family: calibri;
  font-size: 16px;
}
.curriculum-text p:nth-child(1){
  font-weight: bold;
    text-align: center;
    font-size: 23px;
}
.curriculum-text p:nth-child(2){
  font-size: 13px;
  text-align: center;
}
.curriculum-text p:nth-child(3){
  text-align: center;
  font-size: 16px;
}
.curriculum-text p:nth-child(4){
  font-size: 16px;
  text-align: center;
}
.curriculum-text p:nth-child(5){
  font-size: 16px;
  text-align: center;
}
.curriculum-text p:nth-child(6){
  font-size: 16px;
  text-align: center;
}
.curriculum-text p:nth-child(7){
  font-size: 13px;
  text-align: center;
}
.curriculum-text p:nth-child(8){
  font-size: 16px;
  text-align: center;
}
.curriculum-text p:nth-child(9){
  font-size: 16px;
  text-align: center;
}
.curriculum-text p:nth-child(10){
  font-size: 16px;
  text-align: center;
}
.contact-me{
  width: 100%;
  height: 280px;
  background-image: url(foot.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-me p{
  color: #FFFFFF;
  font-size: 30px;
  font-family: calibri;
  font-weight: bold;
  border-bottom: 2px solid #FFFFFF;
}
footer{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
footer p{
  font-family: calibri;
}
footer p:nth-child(1){
  font-size: 30px;
  font-weight: bold;
  color: #191919;
  line-height: 10px;
}
footer p:nth-child(2){
  font-size: 16px;
  color: #7e7d7d;
  width: 600px;
  text-align: center; 
}
.social-icons a{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e3e3;
  margin: 20px 10px;
  border-radius: 50%;
}
.social-icons{
  display: flex;
}